################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rock-Paper-Scissors/.vs/Rock-Paper-Scissors
/Rock-Paper-Scissors/Rock-Paper-Scissors/obj
/Rock-Paper-Scissors/Rock-Paper-Scissors/bin/Debug/net8.0
/Rock-Paper-Scissors/Rock-Paper-Scissors.v3.ncrunchsolution.user
/Rock-Paper-Scissors/Rock-Paper-Scissors/Rock-Paper-Scissors.csproj.user
