@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="~/js/MainMenu.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <div class="container">
        <div class="instructions">
            <p class="welcome-message" style="font-size: 20px; color: #CA4AF4;">Welcome to ROCK, PAPER, SCISSOR Game!</p>
            <p class="instruction-line">How to Play?</p>
            <p class="instruction-line">You are the Player 1 which you'll play against Player 2 (Computer).</p>
            <p class="instruction-line">Whenever you click any bet (Rock | Paper | Scissor), the Enemy (Player 2) is computerized to click its bet anonymously.</p>
            <p class="instruction-line">First to win 3 rounds, WINS the Game.</p>
            <p class="instruction-line">Good Luck!</p>
            <br><br><br>
            <div id="username" class="name">
                <p>Please enter your username:</p>
                <input type="text" id="username-input" placeholder="Enter your username">

            </div>
            <a asp-area="" asp-controller="Home" asp-action="pickAvatar">
                <button class="glow-on-hover" type="button">NEXT</button>
            </a>
        </div>
       
    </div>
</body>
