
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>   
</head>
<body>
<div id="avatar-page" class="page">
    <h2>Select Your Avatar</h2>
    <p>Choose an avatar:</p>
    <div class="avatar-options">
        <img src="~/Avatars/10.png" alt="Avatar 1" onclick="selectAvatar(1)">
        <img src="~/Avatars/11.png" alt="Avatar 2" onclick="selectAvatar(2)">
        <img src="~/Avatars/12.png" alt="Avatar 3" onclick="selectAvatar(3)">
        <img src="~/Avatars/13.png" alt="Avatar 4" onclick="selectAvatar(4)">
        <img src="~/Avatars/14.png" alt="Avatar 5" onclick="selectAvatar(5)">
        <img src="~/Avatars/15.png" alt="Avatar 6" onclick="selectAvatar(6)">
        <img src="~/Avatars/16.png" alt="Avatar 7" onclick="selectAvatar(7)">
        <img src="~/Avatars/17.png" alt="Avatar 8" onclick="selectAvatar(8)">
        <img src="~/Avatars/18.png" alt="Avatar 9" onclick="selectAvatar(9)">
        <img src="~/Avatars/20.png" alt="Avatar 10" onclick="selectAvatar(10)">
        <img src="~/Avatars/21.png" alt="Avatar 11" onclick="selectAvatar(11)">
        <img src="~/Avatars/22.png" alt="Avatar 12" onclick="selectAvatar(12)">
        <img src="~/Avatars/23.png" alt="Avatar 13" onclick="selectAvatar(13)">
        <img src="~/Avatars/24.png" alt="Avatar 14" onclick="selectAvatar(14)">
        <img src="~/Avatars/25.png" alt="Avatar 15" onclick="selectAvatar(15)">
    </div>
        <a asp-area="" asp-controller="Home" asp-action="Game">
            <button type="button">NEXT</button>
        </a>
</div>
</body>
